<!--
<div class="conteneur-flex">
  <div class="element-flex"></div>


  <div class="element-flex">2</div>
  <div class="element-flex">3</div>
</div>


<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
</div>



 -->













 <div class=" container img">

<%= image_tag("logobc2.png") %>

</div>

<!--  <div class=" container img">
<div class="row">
  <div class="col">
<%= image_tag("logobc2.png") %>
</div>
</div>
</div>
 -->
<div class="container cards d-flex" style="margin-top: 100px;margin-bottom: 100px;">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front d-flex" style="background-color: #ffd700;">
        <div class="images">

        </div>
        <div class="info">
        <h1>Roulette</h1>
        <%= image_tag("placeholder.png", height: '75', width: '105',)  %>


        </div>

      </div>
      <div class="flip-card-back">
        <br>
        <br>
        <p>Description</p>
        <a href="#">Discover</a>
      </div>
    </div>
  </div>




  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front d-flex" style="background-color: #ffd700;">
        <div class="images">

        </div>
        <div class="info">
        <h1>casino</h1>

<%= image_tag("placeholder.png", height: '75', width: '105',)  %>
        </div>


      </div>
      <div class="flip-card-back">
        <br>
        <br>
        <p>Description</p>
        <a href="#">Discover</a>
      </div>
    </div>
  </div>


</div>

<!-- <div class="container cards">
 <div class="row">
 -->




   <!--  <div class="col"> -->




       <!--  <div class="card">
            <div class="face face1">
                <div class="content">
                   <%= image_tag("logobc2.png") %>

                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div> -->
   <!--   </div> -->
  <!--  </div> -->




<!--       </div>


    </div>
  </div>
</div> -->
<!-- </div> -->



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="disclaimer" style="color:white;">
  <h1 class="container" style=" margin-bottom: 30px; color: gold; font-size: x-large;">DISCLAIMER <i class="fas fa-exclamation"></i></h1>
  <div class="container d-block" style="margin-bottom: 50px">
  <div>
    <p> JEU RESPONSABLE : Nous ne sommes pas responsables des pertes dues aux jeux de hasard dans les casinos ou aux paris sur les sites de paris liés à l'une de nos offres de bonus. Le joueur est responsable de la somme pour laquelle il est prêt et capable de jouer. Ne pariez pas ou ne pariez pas avec de l'argent que vous ne pouvez pas vous permettre de perdre. Ne poursuivez pas vos pertes. Les joueurs ont la responsabilité de vérifier les lois sur les jeux dans leur pays ou juridiction, et ils doivent le faire avant de jouer de l’argent dans n’importe quel site de jeux d'argent en ligne.
    </p>
  </div>

  <div>
     <p> ATTENTION : Les offres sur notre site sont susceptibles d'évoluer ou d'être annulées. Nous recommandons toujours au joueur d'examiner les conditions et de vérifier le bonus directement sur le site du casino/des sociétés de paris.
    </p>
  </div>

</div>

</section>


<br>
<br>
<br>
<br>


<div class="footer">
  <div class="container">
    <div class="footer-links">

    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">

    2020 Copyrights © BLACKCAS.FR.

    </div>
  </div>
</div>



<!--
<div class="footer" style="background-color: white;">
  <div class="description d-flex">


    <div class="info-one">
      <p> JEU RESPONSABLE: Nous ne sommes pas responsables des pertes dues aux jeux de hasard dans les casinos ou aux paris sur les sites de paris liés à l'une de nos offres de bonus. Le joueur est responsable de la somme pour laquelle il est prêt et capable de jouer. Ne pariez pas ou ne pariez pas avec de l'argent que vous ne pouvez pas vous permettre de perdre. Ne poursuivez pas vos pertes. Les joueurs ont la responsabilité de vérifier les lois sur les jeux dans leur pays ou juridiction, et ils doivent le faire avant de jouer de l’argent dans n’importe quel site de jeux d'argent en ligne.</p>
    </div>
    <div class="info-two">

      <p> ATTENTION : Les offres sur notre site sont susceptibles d'évoluer ou d'être annulées. Nous recommandons toujours au joueur d'examiner les conditions et de vérifier le bonus directement sur le site du casino/des sociétés de paris.
      </p>
    </div>

    <p> 2020 Copyrights © BLACKCAS.FR. All rights reserved.</p>

</div>
 -->
